# Ignorar archivos de Android Studio en todos los proyectos
**/*.iml
**/.gradle/
**/local.properties
**/.idea/
**/.idea/**

# Ignorar archivos de compilación en todos los proyectos
**/build/
**/captures/
**/.externalNativeBuild/
**/.cxx/

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar claves y credenciales sensibles
**/*.keystore
**/*.jks
**/google-services.json